run = "cd AppOwnsDataReactClient && npm install && npm run build && npx serve -s dist -l 5173"

[nix]
channel = "stable-24_05"

[deps]
pkgs = [
  "nodejs-20_x",
  "nodePackages.typescript-language-server",
  "yarn"
]

[deployment]
run = "cd AppOwnsDataReactClient && npm install && npm run build && npx serve -s dist -l 5173"
deploymentTarget = "cloudrun"


