run = "cd AppOwnsDataReactClient && npm install && npm run build && npx serve -s dist -l 3000"

[nix]
channel = "stable-24_05"

[deps]
pkgs = [
  "nodejs-20_x",
  "nodePackages.typescript-language-server",
  "yarn"
]

